body {background-image: url("http://www.lamancerdik.my/img/school.png"); background-repeat: repeat;}h1{font-family:'Varela Round',sans-serif;font-size:44px}h2{font-family:'Varela Round',sans-serif;font-size:30px}h3{font-family:'Varela Round',sans-serif;font-size:20px}a,p{font-family:'Roboto',sans-serif;font-size:14px}label{font-family:'Varela Round',sans-serif;font-size:11px}.btn a{font-family:'Varela Round',sans-serif;font-size:11px}.firstcharacter{float:left;font-size:75px;line-height:60px;padding-top:4px;padding-right:8px;padding-left:3px}nav a{font-family:'Varela Round',sans-serif;font-size:16px}.container{max-width:820px}.parent{position:relative;z-index:0}.child{position:absolute;top:0;left:0;z-index:1}.title{text-align:justify;line-height:130%;max-width:600px}.no-gutter>[class*='col-']{padding-right:0;padding-left:0}.fixed-panel{min-height:10;max-height:10}.top-one{margin-top:1cm}.top-two{margin-top:2cm}.greenbox1{background-color:#A0CE6A;text-align:center;padding:10px 25px;color:#fff;min-height:380px;margin:0 auto}.greenbox2{background-color:#8ABA52;text-align:center;padding:10px 25px;color:#fff;min-height:380px;margin:0 auto}.greybox{background-color:#EDEDED;text-align:center;padding:20px;height:280px;margin:0 auto}.orangebox{background-color:#F26C4E;text-align:center;padding:10px;color:#fff;height:280px;margin:0 auto}.boxed{color:white;margin-top:6%;padding-left:12%}#video hr{border-color:#ffffff}@media (max-width:400px){h1{font-family:'Roboto',sans-serif;font-size:30px}}

$bgDefault      : #ec9c29;
$bgHighlight    : #ffffff;
$colDefault     : #ffffff;
$colHighlight   : #962762;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: none;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: none;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 30px;
    height: 30px;
    padding: 3px;
    background: url("../img/hibiscus.png") no-repeat scroll 0 0 transparent;
    color: white;
    text-align: center;
    font: 22px Arial, sans-serif;
}

.hue1{-webkit-filter: hue-rotate(36deg);
filter: hue-rotate(36deg);}
.hue2{-webkit-filter: hue-rotate(72deg);
filter: hue-rotate(72deg);}
.hue3{-webkit-filter: hue-rotate(108deg);
filter: hue-rotate(108deg);}
.hue4{-webkit-filter: hue-rotate(144deg);
filter: hue-rotate(144deg);}
.hue5{-webkit-filter: hue-rotate(180deg);
filter: hue-rotate(180deg);}
.hue6{-webkit-filter: hue-rotate(216deg);
filter: hue-rotate(216deg);}
.hue7{-webkit-filter: hue-rotate(252deg);
filter: hue-rotate(252deg);}
.hue8{-webkit-filter: hue-rotate(288deg);
filter: hue-rotate(288deg);}
.hue9{-webkit-filter: hue-rotate(324deg);
filter: hue-rotate(324deg);}
.hue10{-webkit-filter: hue-rotate(359deg);
filter: hue-rotate(359deg);}